<!doctype html>
<html lang="en" ng-app="movieExplorer">
	<head>
		<title>Movie Explorer</title>
		<meta charset="utf-8"/>
		 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		 <meta name="description" content="Code sample utilizing AngularJS, HTML5, and CSS3."/>
		 <meta name="keywords" content="code sample, html, css, javascript, angularjs, lessjs"/>
		<base href="/"/>
		<link rel="stylesheet/less" type="text/css" href="styles/main.less"/>
		<script src="lib/less.min.js"></script>
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular/angular-resource.min.js"></script>
		<script src="lib/angular/angular-route.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body ng-controller="mainController as main">
		<header class="header">
			<a class="header-logo" href="/"><span class="header-logo-icon"></span>MovieExplorer</a>

			<nav class="header-nav">
				<form ng-submit="main.submit()" role="search">
					<div class="header-nav-input-group">
						<input ng-model="main.query" type="text" class="header-nav-query" placeholder="Weekend at Bernie's">
						<span class="input-group-btn">
							<button type="submit" class="header-nav-submit-button"><span class="header-nav-submit-icon"></span></button>
						</span>
					</div>
				</form>
				<div ng-hide="main.results.length === 0" class="header-nav-search-results">
					<span ng-repeat="result in main.results" class="list-group-item" href="#">
						<a href="details/{{result.imdbID}}">
							{{result.Title}}
						</a>
					</span>
				</div>
			</nav>
		</header>

		<main ng-view class="main"></main>

		 <!-- jQuery is required for Bootsrap JS -->
		 <script src="lib/jquery-2.1.3.min.js"></script>
		 <script src="lib/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
