@import 'lib/bootstrap/css/bootstrap.min.css';

.glyphicon-film { margin-right: 5px; }


dl { margin-bottom: 5px; }

li {
	list-style: none;
}

.input-group { margin-top: 10px; }

.navbar-form {
	margin-top: 0;
	padding: 15px 0;
}

.movie-poster {
	float: left;
}

img {
	margin-right: 20px;
	max-width: 25%;
}

main {
	margin: 0 20px;
	padding: 0 20px 20px 20px;
}

.plot-col { margin-bottom: 15px; }

details summary::-webkit-details-marker { display:none; }
summary { display: none; }

::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic;  
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;  
}

:-ms-input-placeholder {  
   font-style: italic;  
}
