<article>
	<h1>{{movie.Title}}</h1>

	<div class="movie-plot">
		<img ng-if="movie.Poster !== 'N/A'" ng-src="{{movie.PosterURL}}" alt="{{movie.Title}} poster" class="movie-poster"/>
		<p>{{movie.Plot}}</p>
	</div>

  <div class="clearfix-vertical-margin"></div>

	<div class="movie-details-column">
		<details open>
			<summary>Metadata</summary>
			<ul class="movie-details-list">
				<li><dl><dt>Year</dt>
					<dd>{{movie.Year}}</dd></dl></li>
				<li><dl><dt>Genre</dt>
					<dd>{{movie.Genre}}</dd></dl></li>
				<li><dl><dt>Language</dt>
					<dd>{{movie.Language}}</dd></dl></li>
				<li><dl><dt>Runtime</dt>
					<dd>{{movie.Runtime}}</dd></dl></li>
				<li><dl><dt>Director</dt>
					<dd>{{movie.Director}}</dd></dl></li>
				<li><dl><dt>Starring</dt>
					<dd>{{movie.Actors}}</dd></dl></li>
			</ul>
		</details>
	</div>
</article>
